<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>[GE] - Mot de passe oublié</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link
			href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
		<link th:href="@{/assets/css/gestecole.css}" rel="stylesheet"
			media="screen" />

		<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
			th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
		
		<script
			src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1 class="text-center">GEST-ECOLE</h1>
			</div>
			<form th:action="@{/forgottenPassword}" method="post" class="form-signin">
				<h2 class="form-signin-heading">Mot de passe oublié ?</h2>
				<label for="email" class="sr-only">Email address</label>
				<input type="text" id="email" name="email" class="form-control" placeholder="Adresse e-mail" />
				<button class="btn btn-lg btn-primary btn-block" type="submit">Réinitialiser le mot de passe</button>
			</form>
			
		</div>
	</body>
</html>
