<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
	<head>
		<title>Accueil</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="page-header">
				<h1>Accueil</h1>
			</div>
			<div th:if="${paramCantine}" class="alert alert-warning">
				<strong>ATTENTION !</strong> L'activité cantine n'est pas configurée. Les utilisateurs ne peuvent pas se connecter. 
				Configurez-le <a th:href="@{/admin/gererParametre/init}">ici</a>.
			</div>
			<p>Bienvenue dans le portail de l'école Notre Dame du Pellerin.</p>
			<br />
			<div sec:authorize="hasRole('ROLE_FAMILLE')" class="panel panel-default">
				<div class="panel-heading">
					Fonctionnalités disponibles
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a class="list-group-item" th:href="@{/cantine/details/init}">Consulter et gérér la réservation des repas de vos enfants</a>
						<a class="list-group-item" th:href="@{/cantine/annee/init}">Faire les réservations sur toute l'année</a>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>

