<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>[GE] - Connexion</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link
			href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
		<link th:href="@{/assets/css/gestecole.css}" rel="stylesheet"
			media="screen" />

		<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
			th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
		
		<script
			src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1 class="text-center">GEST-ECOLE</h1>
			</div>
			<div th:if="${param.error}" class="alert alert-danger">Famille ou mot de passe incorrect</div>
			<div th:if="${param.logout}" class="alert alert-info">A bientôt !</div>
			<div th:if="${param.missingParam}" class="alert alert-warning">L'application n'est pas encore ouverte aux utilisateurs !</div>

			<form th:action="@{/login}" method="post" class="form-signin">
				<h2 class="form-signin-heading">Connectez-vous</h2>
				<label for="username" class="sr-only">Identifiant</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Identifiant" />
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe"  />			
				<button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
				<a href="#" th:href="@{/forgottenPassword}" class="btn btn-primary btn-block">Mot de passe oublié</a>
				<a href="#" th:href="@{/forgottenUsername}" class="btn btn-primary btn-block">Identifiant oublié</a>
			</form>
			
		</div>
	</body>
</html>
