<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
	<head>
		<title>Créer des comptes</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="page-header">
				<h1>Créer des comptes</h1>
			</div>
			<form role="form" action="#" th:action="@{/admin/creerCompte/submit}" method="post">

				<p>Créer les comptes des familles qui n'ont pas encore de compte.</p>
				<button type="submit" class="btn btn-default pull-right" value="valider">Créer les comptes</button>

			</form>
			
			
		</div>
	</body>
</html>
