<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
	<head>
		<title>Détail des réservations</title>
		<script th:src="@{/assets/js/detaillerRepas.js}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				var contextPath = /*[[@{/test}]]*/ '';  
				fnInitDetaillerRepas(contextPath);
			});
		</script>
	</head>
	
	<body>
		<div layout:fragment="content">
			<div class="page-header">
				<h1>Détail des réservations des repas</h1>
			</div>
			<form role="form" th:action="@{/cantine/details/init}" th:object="${command}" method="post" id="repasForm">
				<div class="panel panel-default">
					<div class="panel-heading">
						Détail des réservations pour le mois de &nbsp;
						<select th:field="*{anneeMois}" onchange="fnSelectMois();">
							<option th:each="mois : ${moisActivites}" th:value="${mois.id}" th:text="${mois.libelle}"/>
						</select>
					</div>
					<div class="panel-body">
						
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th th:each="header : ${planning.headers}">
										<span th:text="${header}">Header</span>
									</th> 
								</tr>
							</thead>
							<tbody>
								<tr th:each="ligne : ${planning.lignes}">
									<td th:text="${#temporals.format(ligne.date, 'EEEE d MMM yyyy')}" class="col-md-3">La date</td>
									<td th:each="case : ${ligne.cases}" 
											th:title="${case.reservable} ? (${case.reserve} ? 'Réservé' : 'Non réservé') : (${case.reserve} ? 'Présent' : 'Non présent')" 
											th:classappend="${case.reservable} ? (${case.reserve} ? reserve : libre) : (${case.reserve} ? present : vide)" 
											class="col-md-1" th:id="${#temporals.format(ligne.date, 'yyyyMMdd' + '_' + case.individu.id)}">&nbsp;</td>
									<!-- TODO voir pour affichier les cases ou pas -->
								</tr>
							</tbody>
						</table>
	
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						Légende
					</div>
					<div class="panel-body">
						
						<div class="legende present">A mangé à la cantine</div>
						<div class="legende vide">N'a pas mangé à la cantine</div>
						<div class="legende reserve">Repas réservé</div>
						<div class="legende libre">Repas non réservé</div>
	
					</div>
				</div>
			</form>
			
			
			
		</div>
		
	</body>
</html>
